<!DOCTYPE html>
<html>
<head>
	<title>Recommended titles</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'styles/disp.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Acme|Hind+Siliguri|Pacifico&display=swap" rel="stylesheet">
</head>

<body style="background-color: #242F2F">
	<div id = "heading">
<h1>
	Recommended movies
</h1>
</div>

<div class="pics">
	
	<img src="{{img_link_f[0]}}">
	
	<h3>{{recom_movie[0]}}</h4>
	<h4>{{synopsys_f[0]}}</h5>
	
</div>
<div class = "pics">
	
	<img src="{{img_link_f[1]}}">
	
	<h3>{{recom_movie[1]}}</h4>
	<h4>{{synopsys_f[1]}}</h5>
	
</div>
<div class="pics">
	
	<img src="{{img_link_f[2]}}">
	
	<h3>{{recom_movie[2]}}</h4>
	<h4>{{synopsys_f[2]}}</h5>
	
</div>
<div class="pics">
	
	<img src="{{img_link_f[3]}}">
	
	<h3>{{recom_movie[3]}}</h4>
	<h4>{{synopsys_f[3]}}</h5>
	
</div>
<div class="pics">
	
	<img src="{{img_link_f[4]}}">
	
	<h3>{{recom_movie[4]}}</h4>
	<h4>{{synopsys_f[4]}}</h5>
</div>

<div class="pics">
	
	<img src="{{img_link_f[5]}}">
	
	<h3>{{recom_movie[5]}}</h4>
	<h4>{{synopsys_f[5]}}</h5>
	
</div>


</body>
</html>