<!DOCTYPE html>
<html>
<head>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!link rel="stylesheet" href="{{ url_for('static',filename = 'styles/movieinput.css') }}">
	<style type="text/css">

body
{
	background-image: url("{{ url_for('static',filename = '3.jpg') }}");
	background-size: 100%, 100%;

}

#form
{
	padding: 250px;
}
h2
{
	color: white;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;

}

button:hover{
  background: rgba(0, 136, 169, 0.8);
}



	</style>
</head>








<body>

	<div id="form">
<form method="POST" action="/send">
	<a class="cta" href="{{url_for('account')}}"><button type="button" name="button" >myAccount</button></a>
	<a href="{{url_for('logout')}}" class="cta"><button type="button" name="button">Logout</button></a>

	<h2>Enter The Movie</h2>
	<div class="form-group" id="in">
		<input type="text" class="form-control" name="movie_name"  placeholder="Movie" style="box-shadow: 0px 3px 41px 7px rgba(102,101,102,1);">
		</div>
		<input class="btn btn-success" type="submit" value="submit">
	</form>
</div>

</body>
</html>
